/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 600px) and  (max-width: 1200px) {


 }


 @media only screen and (min-width: 100px) and  (max-width: 600px) {

body {
    .none-mobile {
        display: none !important;
    }




}

.section {
    height: fit-content;
    padding: 10rem 3rem;

}

nav {
    text-align: center;
    top: 0rem;
    width: 100%;
    opacity: 100%;
    font-size: 0.8rem;
    background: rgb(48,11,57);
    background: linear-gradient(0deg, rgba(48,11,57,1) 17%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
    background-repeat: no-repeat;
    padding: 10rem 0rem 40rem 0rem;
    transition: 0.5s all ease-in-out;
    z-index: 50;

}

.textopeq {
 font-size: 0.6rem;
}

.darkmodebutton {
    top: 1.5rem; 
    right: 1rem;
    z-index: 100;
}


//// GITHUB

.gitsect {
    background-color: rgb(37, 37, 37, 30%);
    width: 80%;
    padding: 2rem;

}

.githubperfilcont {
    width: 90%;
    flex-direction: column;
    margin: 2rem auto;
}

.githubperfil {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}

.ttd {

    font-size: 0.7rem;

}


.ttd-text {

    font-size: 0.7rem;

}

 
.mail {
    font-size: 0.7rem;
}

.titulos {
    font-size: 1.5rem;
}

.paginascont {
    margin: 0 auto;
}

.nuestrostrabajosstatic {
    width: 120%;
    margin: 1rem;
    border-radius: 10px;
    font-size: 3rem;
    padding: 5rem;

}

 


.menumobilebutton {
    font-size: 3rem;
    color: #78a88d;
    font-weight: lighter;
    background: none;
    border: none;
    position: fixed;
    top: 0rem;
    left: 1rem;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    z-index: 100;

} 


.menu-item {
    margin-top: 1rem;
}

.rotar {
    color: rgb(221, 164, 164);
    transform: rotate(135deg);
} 

.subtitulos-trabajos, .skills, .precios-opc, .wabotonmensaje {
    font-size: 1rem;
}


.skillscont, .opc-cont, .nuestrostrabajoscont {
    margin-top: 2rem;

}

.servicios {
    width: 100%;
    margin: 1rem;
    font-size: 1rem;
    padding: 1.5rem;
}

.servicios-opc {
    font-size: 0.8rem;
}


.subtitulos-trabajos-deskmob {
    padding: 0.15rem;
    font-size: 0.7rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    width: 5rem;
    
    cursor: pointer;

    &:hover {
        color: white;
        background-color: rgb(120,168,141);
    }
}

.input {
    width: 80%;
    height: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.8rem;
}

.wabotonmensaje {
    margin: 0.5rem;
}

.bio {
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    font-size: 0.8rem;
    border-radius: 15px;
}



.nuestrostrabajosimg {
    width: 100%;
}

.cant-pag {
    width: 4rem;
    font-size: 0.7rem;

}


//GITHUB

.github-cont {
    width: 100%;
    padding: 1rem;
}


.githubsquarecont {
    flex-wrap: wrap;
}

.githubsquare {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.15rem;
    border-radius: 1.5px;
    background-color: #2d323a;   
    }


    .githubperfilsubcont {

        margin: 0rem;
    }
    
    .gitrepocont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 

        width: 100%;
        padding: 1rem 1rem;
        margin: 0.5rem;
    }
    .gitrepolinea {
        flex-direction: column; 

    }
    .gitrepotext1 {
        font-size: 0.8rem;
  
    }
    .gitrepotext2 {
        height: fit-content;
        font-size: 0.6rem;
        width: fit-content;
        margin: 0 auto;
    }
    
    .gitrepotext3 {
        font-size: 0.8rem;
        position: relative;
        float: left;
    }

    .wabotonmensaje {
        width: 80%;
    }
    
}